<header xmlns="http://www.w3.org/1999/html" class="w-full">
    <nav class="w-full">
      <p-menubar class="header w-full">
        <ng-template pTemplate="start">
          <span style="margin-right: 1rem;" class="texto colorTexto" >¡Hola, {{ nombreUsuario }}!</span>
        </ng-template>        <ng-template pTemplate="end">
          <div class="header-actions">
            <p-button icon="pi pi-user" class="p-mr-2 colorTexto" severity="secondary" [text]="true"></p-button>
            <app-notificaciones></app-notificaciones>
          </div>
        </ng-template>
      </p-menubar>

    </nav>
</header>
