html, body, main, app-header{
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

main {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 5vw;
  padding-right: 5vw;
}

.textoNegro {
  color: black;
}


.padreBotonInput {
  gap: 10vw;
  margin-bottom: 20px;
}

p-inputgroup {
  display: inline-flex;
  width: auto;
}

.boton {
  width: 9vw;
  height: 7px;
 
}


.modal {
  height: 30px;
}