
main {
  height: 100%;
}

.articleGrande {
  height: 290px;
}

.salon {
  height: 100%;
  background: #232323;
}

.carteles {
    height: 60px;
    padding: 0;
    margin: 0;
    margin-top: 40px;
    margin-bottom:16px;
    margin-left: 5vw;
    gap: 10vw;
}

.cartelMini {
  width: 19vw;
  height: 55px;
  padding: 0;
  padding-left: 1vw;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #444444;
  color: #FFFFFF;
  border-color: #444444;
  border-width: 2px;
  border-style: solid;
  border-radius: 21px 21px 21px;
  margin-left: 13vw;
}

.textoCartel {
  margin-left: 0.5vw;
  font-size: 2rem;
}

.logoCartel {
  font-size: 2rem;
  margin-right: 1vw;
 }

