<app-header></app-header>
<main class="w-full">
  <article class="articleGrande w-full">
      <div class="w-full salon">insertar imagen</div>
  </article>
  <article class="w-full carteles flex ">
      <div class="cartelMini flex justify-content-center">
        <span class="logoCartel pi pi-plus"></span>
        <span class="textoCartel">Nueva Venta</span>
      </div>
      <div class="cartelMini flex justify-content-center">
        <span class="logoCartel pi pi-plus"></span>
        <span class="textoCartel">Nueva Venta</span>
      </div>
  </article>
</main>
