<app-header></app-header>
<main class="w-full">
  <article class="articleGrande w-full">
      <div class="w-full salon">insertar imagen</div>
  </article>
  <article class="w-full cartelesMini flex ">
      <div class="cartelMini flex justify-content-center">
        <span class="logoCartel pi pi-plus"></span>
        <span class="textoCartel">Nueva Venta</span>
      </div>
      <div class="cartelMini flex justify-content-center">
        <span class="logoCartel pi pi-plus"></span>
        <span class="textoCartel">Nueva Venta</span>
      </div>
  </article>
  <article class="w-full cartelesGrandes flex">
    <div class="cartelGrande">
      <span class="pi pi-shopping-cart iconos w-full"></span>
      <span class="tituloCartel w-full">Titulo</span>
      <p class="textoCartel ">Hola ñeri como andas</p>
    </div>
    <div class="cartelGrande">
      <span class="pi pi-shopping-cart iconos w-full"></span>
      <span class="tituloCartel w-full">Titulo</span>
      <p class="textoCartel ">Hola ñeri como andas</p>
    </div>
    <div class="cartelGrande">
      <span class="pi pi-shopping-cart iconos w-full"></span>
      <span class="tituloCartel w-full">Titulo</span>
      <p class="textoCartel ">Hola ñeri como andas</p>
    </div>
  </article>
</main>
