<body>
  <app-header></app-header>

  <main class="w-full">

    <article class="flex w-full article-1">
      <div class="miniCartel">
        <div class="w-full cabezaMiniCartel">
          <span class="textoMiniCartel">Ventas Totales</span>
          <span class="pi pi-shopping-bag logoMiniCartel"></span>
        </div>

        <div class="flex flex-column w-full papaNumeros">
          <span class="w-full numero1MiniCartel">{{ ventasTotales }}</span>
        </div>
      </div>

      <div class="miniCartel">
        <div class="w-full cabezaMiniCartel">
          <span class="textoMiniCartel">Usuarios Totales</span>
          <span class="pi pi-users logoMiniCartel"></span>
        </div>

        <div class="flex flex-column w-full papaNumeros">
          <span class="w-full numero1MiniCartel">{{ usuariosTotales }}</span>
        </div>
      </div>

      <div class="miniCartel">
        <div class="w-full cabezaMiniCartel">
          <span class="textoMiniCartel">Productos Populares</span>
          <span class="pi pi-objects-column logoMiniCartel"></span>
        </div>        <div class="flex flex-column w-full papaNumeros">
          <ul>
            <li *ngFor="let producto of productosMasPopulares; let i = index" 
                [class.margenBullet]="i === 0">{{ producto?.nombre || null }}</li>
          </ul>
        </div>
      </div>

      <div class="miniCartel">
        <div class="w-full cabezaMiniCartel">
          <span class="textoMiniCartel">Categorías Populares</span>
          <span class="pi pi-objects-column logoMiniCartel"></span>
        </div>        <div class="flex flex-column w-full papaNumeros">
          <ul>
            <li *ngFor="let categoria of categoriasMasPopulares; let i = index" 
                [class.margenBullet]="i === 0">{{ categoria?.nombre || null }}</li>
          </ul>
        </div>
      </div>

    </article>

    <article class="w-full article-2">
      <div class="cartel">
        <div class="cabezaCartel">
          <div class="flex flex-column textoCartel">
            <strong class="margenTextoCartel">Ganancias</strong>
            <span>{{ ganancias }}</span>
          </div>
          <span class="pi pi-dollar logoCartel"></span>
        </div>

        <div class="w-full flex restoCartel" >
          <div class="miniCartel blancoMiniCartel">
            <div class="w-full cabezaMiniCartel">
              <span class="textoMiniCartel">Débito</span>
            </div>

            <div class="flex flex-column w-full papaNumeros">
              <span class="w-full numero1MiniCartel">${{ debito }}</span>
            </div>
          </div>

          <div class="miniCartel blancoMiniCartel">
            <div class="w-full cabezaMiniCartel">
              <span class="textoMiniCartel">Crédito</span>
            </div>

            <div class="flex flex-column w-full papaNumeros">
              <span class="w-full numero1MiniCartel">${{ credito }}</span>
            </div>
          </div>

          <div class="miniCartel blancoMiniCartel">
            <div class="w-full cabezaMiniCartel">
              <span class="textoMiniCartel">Efectivo</span>
            </div>

            <div class="flex flex-column w-full papaNumeros">
              <span class="w-full numero1MiniCartel">${{ efectivo }}</span>
            </div>
          </div>

          <div class="miniCartel blancoMiniCartel">
            <div class="w-full cabezaMiniCartel">
              <span class="textoMiniCartel">Crédito Local</span>
            </div>

            <div class="flex flex-column w-full papaNumeros">
              <span class="w-full numero1MiniCartel">${{ creditolocal }}</span>
            </div>
          </div>
        </div>

      </div>

    </article>

  </main>

  <app-footer></app-footer>
</body>
