<app-header [nombreUsuario]="'flp123'"></app-header>
<main class="w-full">
  <h1 class="w-full textoNegro">Clientes a Crédito</h1>
  <article class="w-full flex padreBotonInput">
    <p-inputgroup>
      <input pInputText placeholder="Buscar" />
        <p-inputgroup-addon>

        <!-- falta (click) -->
        <p-button icon="pi pi-search" severity="secondary" variant="text"  />

      </p-inputgroup-addon>
    </p-inputgroup>

    <p-button label="Añadir Nuevo" class="boton" severity="secondary" (click)="mostarModal()"></p-button>
    <p-dialog header="Añadir nuevo cliente a credito" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
      <div class="flex items-center gap-4 mb-4">
        <label for="username" class="font-semibold w-24 modal">Nombre</label>
        <input pInputText id="username" class="flex-auto modal" autocomplete="off" />
      </div>
      <div class="flex items-center gap-4 mb-4">
        <label for="telefono" class="font-semibold w-24 modal">Telefono</label>
        <input pInputText id="telefono" class="flex-auto modal" autocomplete="off" />
      </div>
      <div class="flex items-center gap-4 mb-4">
        <label for="min" class="font-semibold w-24 modal">Min</label>
        <input pInputText id="min" class="flex-auto modal" autocomplete="off" />
      </div>
      <div class="flex items-center gap-4 mb-4">
        <label for="max" class="font-semibold w-24 modal">Max</label>
        <input pInputText id="max" class="flex-auto modal" autocomplete="off" />
      </div>
      <div class="flex items-center gap-4 mb-4">
        <label for="deuda" class="font-semibold w-24 modal">Deuda</label>
        <input pInputText id="deuda" class="flex-auto modal" autocomplete="off" />
      </div>
      <div class="flex items-center gap-4 mb-4">
        <label for="pago" class="font-semibold w-24 modal">Pago</label>
        <input pInputText id="pago" class="flex-auto modal" autocomplete="off" />
      </div>
      <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="visible = false" />
        <p-button label="Save" (click)="visible = false" />
      </div>
    </p-dialog>

  </article>
  <article class="w-full">
    <p-table class="tabla" [value]="clientes" [tableStyle]="{ 'min-width': '20rem' }">
      <ng-template #header>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Telefono</th>
          <th>Crédito Minimo</th>
          <th>Crédito Maximo</th>
          <th>Deuda</th>
          <th>Pago hasta ahora</th>
        </tr>
      </ng-template>
      <ng-template #body let-cliente>
        <tr>
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.telefono }}</td>
          <td>{{ cliente.min }}</td>
          <td>{{ cliente.max }}</td>
          <td>{{ cliente.deuda }}</td>
          <td>{{ cliente.pago }}</td>

        </tr>
      </ng-template>
    </p-table>
  </article>

  <article class="paginador w-full flex">
    <!-- Contenido de la paginación -->
    <p class="margenPaginador">{{ currentRange }} de {{ totalRecords }}</p>
    <p-button icon="pi pi-angle-left" (click)="prevPage()" [disabled]="currentPage === 1" severity="secondary"></p-button>
    <p-button icon="pi pi-angle-right" (click)="nextPage()" [disabled]="currentPage === totalPages" severity="secondary"></p-button>
  </article>

</main>
<app-footer></app-footer>
