<div class="form-container">
  <h2>Elimina Categoría</h2>

  <form>
    <div class="form-group">
      <select [(ngModel)]="categoriaSeleccionada" name="categoriaSeleccionada">
        <option value="" disabled selected>Selecciona la categoría</option>
        <option *ngFor="let categoria of categorias" [value]="categoria.id">
          {{ categoria.nombre }}
        </option>
      </select>
    </div>

    <button type="button" (click)="eliminarCategoria()">Crear</button>

    <p class="note">
      Podrá utilizar la categoría al crear un nuevo producto.
    </p>
  </form>
</div>
