<app-header [nombreUsuario]="'nombreusuario'"></app-header>

<div class="grid">
    <div class="col-12">

        <div class="col-12 mb-3 pl-5">
            <h2 class="texto">Listado de Ventas</h2>

        </div>
        <div class="col-12 flex justify-content-center">
            <div class="md:col-8 lg:col-11">
                <p-table [value]="ventas" selectionMode="single" [(selection)]="selectedVenta" dataKey="id"
                    (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="5" [totalRecords]="totalRecords"
                    [rowsPerPageOptions]="[5, 10, 20]" paginatorPosition="bottom"
                    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} ventas" showGridlines
                    [responsive]="true" class="texto">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Fecha</th>
                            <th>Total</th>
                            <th>Forma de Pago</th>
                            <th>Usuario</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-venta>
                        <tr [pSelectableRow]="venta">
                            <td>{{venta.fechaVenta | date:'medium'}}</td>
                            <td>{{venta.total | currency}}</td>
                            <td>{{venta.formaPago}}</td>
                            <td>{{venta.usuario}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </div>

    </div>
</div>

<app-footer></app-footer>