<body>
  <app-header [nombreUsuario]="'flp123'"></app-header>
  <main class="w-full">
    <article class="articleGrande w-full">
      <div class="w-full salon">insertar imagen</div>
    </article>
    <article class="w-full cartelesMini flex ">
      <div class="cartelMini flex justify-content-center">
        <span class="logoCartel pi pi-plus"></span>
        <span class="textoCartel">Nueva Venta</span>
      </div>
      <div class="cartelMini flex justify-content-center">
        <span class="logoCartel pi pi-plus"></span>
        <span class="textoCartel">Nueva Producto</span>
      </div>
    </article>
    <article class="w-full cartelesGrandes flex">
      <div class="cartelGrande">
        <span class="pi pi-shopping-cart iconos w-full"></span>
        <span class="tituloCartel w-full">Ventas</span>
        <p class="textoCartel ">Visualización y eliminación de ventas.</p>
      </div>
      <div class="cartelGrande">
        <span class="pi pi-users iconos w-full"></span>
        <span class="tituloCartel w-full">Clientes</span>
        <p class="textoCartel ">Visualización de clientes y pago de deudas.</p>
      </div>
      <div class="cartelGrande">
        <span class="pi pi-truck iconos w-full"></span>
        <span class="tituloCartel w-full">Proveedores</span>
        <p class="textoCartel ">Visualización y modificación de proveedores.</p>
      </div>
    </article>
    <article class="w-full cartelesGrandes flex">
      <div class="cartelGrande">
        <span class="pi pi-chart-bar iconos w-full"></span>
        <span class="tituloCartel w-full">Estadísticas</span>
        <p class="textoCartel ">Acceso a estadísticas de ventas.</p>
      </div>
      <div class="cartelGrande">
        <span class="pi pi-shopping-bag iconos w-full"></span>
        <span class="tituloCartel w-full">Productos</span>
        <p class="textoCartel ">Acceso a lista de productos.
          Acceso a detalles individuales de cada uno.
        </p>
      </div>
      <div class="cartelGrande">
        <span class="pi pi-dollar iconos w-full"></span>
        <span class="tituloCartel w-full">Ofertas</span>
        <p class="textoCartel ">Acceso a lista de ofertas.</p>
      </div>
    </article>
  </main>
  <app-footer></app-footer>
</body>

