<app-header [nombreUsuario]="'flp123'"></app-header>
<main>
  <article class="flex" *ngIf="cliente">
    <div class="w-full Tarjetas">
      <div class="tarjeta-1">
        <h1 class="titulo">{{ cliente.nombre }}</h1>
        <p>Telefono: {{ cliente.telefono }}</p>
      </div>

      <div class="miniCartel">
        <div class="w-full cabezaMiniCartel">
          <span class="textoMiniCartel">Deuda Actual</span>
          <span class="pi pi-dollar logoMiniCartel"></span>
        </div>

        <div class="flex flex-column w-full papaNumeros">
          <span class="w-full numero1MiniCartel">$ 21.324</span>
          <p class="texito">Pago hasta ahora: {{ pago }}</p>

          <div class="papaBoton w-full">
            <p-button class="boton" label="Pagar" severity="secondary"></p-button>
          </div>

        </div>


      </div>
    </div>

    <img class="imagen">


  </article>

  <article class="w-full tablaMargen">
    <h1 class="tituloTabla">Compras</h1>
    <p-table class="tabla" [value]="compras" [tableStyle]="{ 'min-width': '20rem' }">
      <ng-template #header>
        <tr>
          <th>Id</th>
          <th>Cliente</th>
          <th>Fecha Venta</th>
          <th>Total</th>
        </tr>
      </ng-template>
      <ng-template #body let-compra>
        <tr>
          <td>{{ compra.id }}</td>
          <td>{{ compra.cliente }}</td>
          <td>{{ compra.fechaVenta }}</td>
          <td>{{ compra.total }}</td>
        </tr>
      </ng-template>
    </p-table>
  </article>


</main>
<app-footer></app-footer>
