body{
  background: white;
}

::ng-deep .p-menubar {
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
  background: white;
}

.boton {
  margin-left: 10px;
}

.texto {
  padding-left: 45vw;
}

.colorNegro {
    color: black;
}


//font-family: "Source Sans 3", sans-serif;



