<header xmlns="http://www.w3.org/1999/html">
    <nav class="w-full">
      <p-menubar class="header w-full">
        <ng-template pTemplate="start">
          <span style="margin-right: 1rem;" class="texto colorNegro" >¡Hola, {{ nombre }}!</span>
        </ng-template>

        <ng-template pTemplate="end">
          <p-button icon="pi pi-user" class="p-mr-2 colorNegro" severity="secondary"></p-button>
          <p-button icon="pi pi-bell" class="p-mr-2 boton colorNegro" severity="secondary" (click)="openNotifications()" ></p-button>
        </ng-template>
      </p-menubar>


      <p-dialog header="Notificaciones" [(visible)]="showModal" [modal]="true" [style]="{width: '30vw'}">
        <p>notificaciones</p>
      </p-dialog>
    </nav>
</header>
