body{
  background: white;
}

::ng-deep .p-menubar {
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
  height: 65px;
}

.boton {
  margin-left: 10px;
}

.texto {
  padding-left: 45vw;
  font-size: 18px;
}

.colorTexto {
  color: var(--text-color);
}


//font-family: "Source Sans 3", sans-serif;



