<footer class="flex w-full">
  <div class="margen flex">    <div class="papa">
      <span class="titulos">¿Necesitas ayuda?</span>
      <a routerLink="/contactanos">
        <p-button class="botones w-full" severity="secondary"
          >Contactanos</p-button>
      </a>
    </div>
    <div class="papa">
      <span class="titulos">Redes Sociales</span>
      <div class="redesIconos">
        <a href="https://facebook.com" target="_blank">
          <i class="pi pi-facebook" style="font-size: 1.5rem"></i>
        </a>
        <a href="https://www.instagram.com/salon_byf" target="_blank">
          <i class="pi pi-instagram" style="font-size: 1.5rem"></i>
        </a>
      </div>
    </div>
    <div class="papa">
      <span class="titulos">Navegacion</span>
      <a routerLink="/home" class="textos">Inicio</a>
      <a routerLink="/ventas" class="textos">Ventas</a>
      <a routerLink="/proveedores" class="textos">Proveedores</a>
      <a *ngIf="isAdmin()" routerLink="/stats" class="textos">Estadísticas</a>
      <a routerLink="/productos" class="textos">Productos</a>
    </div>
  </div>
</footer>
