footer {
  height: 350px;
  margin-top: 10px;
  color: black;
  background: white;
  font-family: "Montserrat", sans-serif;
}

.margen {
  margin-left: 13vw;
  margin-top: 65px;
  gap: 7vw;
}

.papa {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.titulos {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.textos {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
  color: #27272a;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: #3f3f46;
  }
}

a.textos {
  color: #27272a;
  text-decoration: none;

  &:hover {
    color: #3f3f46;
  }
}

a i {
  color: #27272a;
}

a:hover i {
  transition: color 0.3s ease;
  color: #3f3f46;
}

.redesIconos {
  display: flex;
  gap: 1vw;
}
