<footer class="flex w-full">
  <div class="margen flex">
    <div class="papa">
      <span class="titulos">¿Necesitas ayuda?</span>
      <p-button class="botones w-full" severity="secondary" >Contactanos</p-button>
    </div>
    <div class="papa">
      <span class="titulos">Soporte</span>
      <span class="textos">Términos de Servicio</span>
      <span class="textos">Política de Privacidad</span>
    </div>
    <div class="papa">
      <span class="titulos">Redes Sociales</span>
      <div class="redesIconos">
        <a href="https://facebook.com" target="_blank">
          <i class="pi pi-facebook" style="font-size: 1.5rem;"></i>
        </a>
        <a href="https://www.instagram.com/salon_byf" target="_blank">
          <i class="pi pi-instagram" style="font-size: 1.5rem;"></i>
        </a>
      </div>

    </div>
    <div class="papa">
      <span class="titulos">Navegacion</span>
      <span class="textos">Inicio</span>
      <span class="textos">Ventas</span>
      <span class="textos">Proveedores</span>
      <span class="textos">Estadísticas</span>
      <span class="textos">Productos</span>
    </div>
  </div>
</footer>
